In [1]:
import pandas as pd

In [2]:
dicts=dict()

In [4]:
dicts['India']=[5.1,5.2,4.5,4.3,5,3.5,3,5,4.3,4,3.5]
dicts['USA']=[5.1,5.2,4.5,4.3,5,3.5,3,2.5,4.3,4,4.5]
dicts['Canada']=[4.1,5.2,4.5,4.3,5,2.5,2,5,4.3,4,2.5]
dicts['Year']=[2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013]

In [20]:
dicts

{'India': [5.1, 5.2, 4.5, 4.3, 5, 3.5, 3, 5, 4.3, 4, 3.5],
 'USA': [5.1, 5.2, 4.5, 4.3, 5, 3.5, 3, 2.5, 4.3, 4, 4.5],
 'Canada': [4.1, 5.2, 4.5, 4.3, 5, 2.5, 2, 5, 4.3, 4, 2.5],
 'Year': [2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013]}

In [16]:
df=pd.DataFrame(dicts)

In [18]:
df=df.set_index('Year')

In [19]:
df

      India  USA  Canada
Year
2023    5.1  5.1     4.1
2022    5.2  5.2     5.2
2021    4.5  4.5     4.5
2020    4.3  4.3     4.3
2019    5.0  5.0     5.0
2018    3.5  3.5     2.5
2017    3.0  3.0     2.0
2016    5.0  2.5     5.0
2015    4.3  4.3     4.3
2014    4.0  4.0     4.0
2013    3.5  4.5     2.5

In [21]:
df['AverageGDP']=df.mean(axis=1)

In [22]:
df

      India  USA  Canada  AverageGDP
Year
2023    5.1  5.1     4.1    4.766667
2022    5.2  5.2     5.2    5.200000
2021    4.5  4.5     4.5    4.500000
2020    4.3  4.3     4.3    4.300000
2019    5.0  5.0     5.0    5.000000
2018    3.5  3.5     2.5    3.166667
2017    3.0  3.0     2.0    2.666667
2016    5.0  2.5     5.0    4.166667
2015    4.3  4.3     4.3    4.300000
2014    4.0  4.0     4.0    4.000000
2013    3.5  4.5     2.5    3.500000